[Unit]
Description=MongoDB exporter
After=network.target

[Service]
LimitNOFILE=65535
User=root
ExecStart=/opt/mongodb_exporter/mongodb_exporter --mongodb.uri={{ mongodb_uri }}
Restart=always

[Install]
WantedBy=multi-user.target